/* Main Layout ––––––––––––––––––––––––––––––––––––––––––––––––––*/
html, body{
  height: 100%;
}

body {
  background-color: #1E1E1E;
  color: #7FDBFF;
  height: 100%;
  margin: 0;
  padding: 0;
}

.react-entry-point{
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: "Courier New";
  letter-spacing: 2.1px;
  padding-left: 12px;
  font-weight: 300;
}

h1 {
  font-size: 50;
}

h2 {
  font-size: 30;
}

h3 {
  font-size: 20;
}

h4 {
  font-size: 15;
}

h5 {
  font-size: 10;
}


div {
  font-family: "Courier New";
  background-color: #1E1E1E;
  color: #7FDBFF;
}

label {
  font-family: "Courier New";
  font-size: 18px;
}

/*p {
  font-family: "Courier New";
  font-weight: 400;
  font-size: 14px;
  padding-left: 12px;
}

a {
  text-decoration: none;
}*/

.text-padding{
  padding: 5px;
}

/* Style for Dash */

::placeholder {
  background-color: #1E1E1E;
  color: white;
}

/* Color of select dropdown */
.has-value.Select--single>.Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label {
  background-color: #1E1E1E;
  color: #7FDBFF;
}

/* Color of calender */
.DateRangePickerInput_arrow_svg, .DayPickerNavigation_button__default, .CalendarDay, .DateRangePickerInput_arrow, .DateRangePickerInput_arrow, .CalendarMonth_caption, .DayPicker_weekHeader_li, .DateRangePickerInput, .CalendarMonth, .DateInput_input {
  font-size: 16px;
  font-weight: 500;
  background-color: #1E1E1E;
  color: #7FDBFF;
  fill: #7FDBFF;
  font-family:  "Courier New";
}
